.myButton {
    background-color: red;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#outputText {
    font-size: 18px;
    color: black;
    margin-top: 10px;
}
